@media screen and (max-width: 720px) {
    nav {
        padding: 20px 5%;
    }

    nav ul li {
        margin-left: 10px;
    }

    .content {
        left: 5%;
    }

    .about img {
        max-width: 100%;
        height: auto;
    }

    .about-text {
        width: calc(100% - 20px);
        margin-top: -30px;
        padding: 0 10px;
    }

    .about-text p {
        width: 100%;
    }

    .main {
        flex-direction: column;
        align-items: flex-start;
    }

    .certificate-container {
        overflow-x: auto;
    }

    .certificate-container img {
        width: 100px;
    }

    footer p:nth-child(2) {
        width: auto;
    }
}

