@media only screen and (max-width: 600px) {

nav {
flex-direction: column;
}

.logo {
margin-bottom: 10px;
}

nav ul {
flex-direction: column;
}

nav ul li {
margin: 5px 0;
}

.content {
position: static;
transform: translateY(0);
text-align: center;
}

.main {
flex-direction: column;
}

.about img {
width: 100%;
margin-bottom: 20px;
}

.about-text {
width: 100%;
}

.education-info {
flex-direction: column;
}

.education-box {
width: 90%;
margin: 10px auto;
}

footer {
flex-direction: column;
}

footer p:nth-child(2) {
width: 90%;
}

.sosial {
flex-direction: column;
}

.sosial a {
margin: 10px 0;
}

}
